{% extends "base.html" %}

{% load static %}
{% block content %}
    
	{% include "headerPages.html" %}
	
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>{{blog.title}}</h1>
			
			<!-- Search Boxed -->
			<div class="search-boxed">
				<div class="search-box">
					<form method="post" action="contact.html">
						<div class="form-group">
							<input type="search" name="search-field" value="" placeholder="What do you want to learn?" required>
							<button type="submit"><span class="icon fa fa-search"></span></button>
						</div>
					</form>
				</div>
			</div>
			
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
		<div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url({% static 'images/icons/icon-1.png' %})"></div>
		<div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url({% static 'images/icons/icon-2.png' %})"></div>
		<div class="circle-one"></div>
		<div class="circle-two"></div>
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Sidebar Side -->
                <div class="sidebar-side style-two blog-sidebar col-lg-3 col-md-12 col-sm-12">
					<div class="sidebar-inner sticky-top">
						<aside class="sidebar ">
							
							<!-- Popular Posts -->
							<div class="sidebar-widget popular-posts">
							
								<!-- Sidebar Title -->
								<div class="sidebar-title">
									<h5>Последние посты</h5>
								</div>
								
								<div class="widget-content">
									{% for bl in blogs_latest %}
									<article class="post">
										<div class="post-inner">
											<figure class="post-thumb"><a href="{{bl.get_absolute_url}}"><img src="{{bl.image.url}}" alt=""></a></figure>
											<div class="text"><a href="{{bl.get_absolute_url}}">{{bl.title}}</a></div>
											<div class="post-info">{{bl.author}}</div>
										</div>
									</article> 
									{% endfor %}
								</div>
							</div>  
						</aside>
					</div>
				</div>
				
				<!-- Content Side -->
                <div class="content-side blog-detail-column col-lg-9 col-md-12 col-sm-12">
                	<div class="blog-detail">
						<div class="inner-box">
							<h2>{{blog.title}}</h2>
							<ul class="author-info">
								<li>{{blog.author}}</li>
								<li><span class="theme_color">{{blog.date_post}}</span></li>
								<li>15 Commnets</li>
							</ul>
							<div class="image">
								<img src="{{blog.image.url}}" alt="" />
							</div>
							{{blog.description|safe}}
						</div>
						
						<!-- Post Share Options -->
						<div class="styled-pagination text-center">
							<ul class="clearfix">
								<li class="prev"><a href="#"><span class="fa fa-angle-left"></span> </a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="active"><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li class="next"><a href="#"><span class="fa fa-angle-right"></span> </a></li>
							</ul>
						</div>
						
						<!-- Comments Area -->
						<div class="comments-area">
							<div class="group-title">
								<h4>Recent Comments</h4>
							</div>
							
							{% for rev in reviews %}
							<div class="comment-box">
								<div class="comment">
									<div class="author-thumb"><img src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt=""></div>
									<div class="comment-info clearfix"><strong>{{rev.name}} </strong><div class="comment-time">June 28, 2019</div></div>
									<div class="text">{{rev.desc}}</div>
									<a class="theme-btn reply-btn" href="#"> Reply</a>
								</div>
							</div>
							{% endfor %}
							
							<div class="comment-box reply-comment">
								<div class="comment">
									<div class="author-thumb"><img src="images/resource/author-13.jpg" alt=""></div>
									<div class="comment-info clearfix"><strong>Paul Molive </strong><div class="comment-time">July 01, 2019</div></div>
									<div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal tion of letters, as opposed to using 'Content here</div>
									<a class="theme-btn reply-btn" href="#"> Reply</a>
								</div>
							</div>
							
							
						</div>
						
						<!-- Comment Form -->
						<div class="comment-form">
							<div class="group-title"><h4>Напишите комментарии</h4></div>
							
							<!--Comment Form-->
							<form method="post" action="blog.html">
								<div class="row clearfix">
									
									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="text" name="username" placeholder="ФИО*" required>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="email" name="email" placeholder="Email Адрес*" required>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<textarea class="" name="message" placeholder="Напишите свой комментарий..."></textarea>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Отправить свой комментарий <i class="fa fa-angle-right"></i></span></button>
									</div>
									
								</div>
							</form>
								
						</div>
						<!--End Comment Form -->
						
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
	
	<!-- Call To Action Section Two -->
	<section class="call-to-action-section-two" style="background-image: url(images/background/3.png)">
		<div class="auto-container">
			<div class="content">
				<h2>Ready to get started?</h2>
				<div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two <br> waters own morning gathered greater shall had behold had seed.</div>
				<div class="buttons-box">
					<a href="course.html" class="theme-btn btn-style-one"><span class="txt">Get Stared <i class="fa fa-angle-right"></i></span></a>
					<a href="course.html" class="theme-btn btn-style-two"><span class="txt">All Courses <i class="fa fa-angle-right"></i></span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section Two -->
{% endblock %}