{% extends "base.html" %}

{% load static %}
{% block content %}
    
	{% include "headerPages.html" %}
	
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>Блог</h1>
			
			<!-- Search Boxed -->
			<div class="search-boxed">
				<div class="search-box">
					<form method="post" action="contact.html">
						<div class="form-group">
							<input type="search" name="search-field" value="" placeholder="What do you want to learn?" required>
							<button type="submit"><span class="icon fa fa-search"></span></button>
						</div>
					</form>
				</div>
			</div>
			
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
		<div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-1.png)"></div>
		<div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-2.png)"></div>
		<div class="circle-one"></div>
		<div class="circle-two"></div>
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Content Side -->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                	<div class="our-courses">
						
						<!-- Options View -->
						<div class="options-view">
							<div class="clearfix">
								<div class="pull-left">
									<h3>Свежие посты</h3>
								</div>
								<div class="pull-right clearfix"> 
									
									<!-- Type Form -->
									<div class="type-form">
										<form method="post" action="index.html">
											
											<!-- Form Group -->
											<div class="form-group">
												<select class="custom-select-box">
													<option>Новые</option>
													<option>Старые</option>
												</select>
											</div>
											
										</form>
									</div>
									
								</div>
							</div>
						</div>
						
						<div class="row clearfix">
							{% for blog in blogs %}
							<!-- Cource Block Two -->
							<div class="cource-block-two col-lg-4 col-md-12 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<a href="{{blog.get_absolute_url}}"><img src="{{blog.image.url}}" alt="" /></a>
									</div>
									<div class="lower-content">
										<h5><a href="{{blog.get_absolute_url}}">
											{{blog.title}}
										</a></h5>
										<div class="text">{{blog.description|truncatewords:10|safe}}</div>
										<div class="clearfix">
											<div class="pull-left">
												<div class="students">{{blog.author}}</div>
											</div>
											<div class="pull-right">
												<div class="hours">{{blog.date_post}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						
						<!-- Post Share Options -->
						<div class="styled-pagination">
							<ul class="clearfix">
								<li class="prev"><a href="#"><span class="fa fa-angle-left"></span> </a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="active"><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li class="next"><a href="#"><span class="fa fa-angle-right"></span> </a></li>
							</ul>
						</div>
						
					</div>
					
				</div> 
				
			</div>
			
		</div>
	</div> 
	 
	
	{% endblock content %}