{% extends "base.html" %} {% load static %} {% block content %} {% include "headerPages.html" %}
<!-- Page Title -->
<section class="page-title">
    <div class="auto-container">
        <h1>Курсы</h1>
        <!-- Search Boxed -->
        <div class="search-boxed">
            <div class="search-box">
                <form method="post" action="contact.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="What do you want to learn?" required>
                        <button type="submit">
                            <span class="icon fa fa-search"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Books Page Section -->
<section class="books-page-section">
    <div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url({% static 'images/icons/icon-1.png' %})"></div>
    <div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url({% static 'images/icons/icon-2.png' %})"></div>
    <div class="circle-one"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Category Section -->
            <div class="category-column col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Books Info Tabs-->
                    <div class="books-info-tabs">
                        <!-- Books Tabs-->
                        <div class="books-tabs tabs-box">
                            <!--Tabs Container-->
                            <div class="tabs-content">
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="prod-html">
                                    <div class="content">
                                        <div class="row clearfix"> {% for course in courses %}
                                            <!-- Book Block -->
                                            <div class="book-block col-lg-3 col-md-4 col-sm-12">
                                                <div class="inner-box">
                                                    <figure class="image-box">
                                                        <img src="{{course.image.url}}" alt="">
                                                        <!-- Overlay Box -->
                                                        <div class="overlay-box">
                                                            <div class="overlay-inner">
                                                                <div class="content">
                                                                    <a href="books-detail.html" class="link">
                                                                        <span class="icon fa fa-link"></span>
                                                                    </a>
                                                                    <a href="{{course.image.url}}" data-fancybox="books" data-caption="" class="link">
                                                                        <span class="icon flaticon-full-screen"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="lower-box">
                                                        <h6>
                                                            <a href="{{course.get_absolute_url}}">{{course.title}}</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div> {% endfor %}
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Books Page Section -->
<!-- Call To Action Section Two -->
<section class="call-to-action-section-two" style="background-image: url({% static 'images/3.png' %})">
    <div class="auto-container">
        <div class="content">
            <h2>Ready to get started?</h2>
            <div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two <br> waters own morning gathered greater shall had behold had seed. </div>
            <div class="buttons-box">
                <a href="course.html" class="theme-btn btn-style-one">
                    <span class="txt">Get Stared <i class="fa fa-angle-right"></i>
                    </span>
                </a>
                <a href="course.html" class="theme-btn btn-style-two">
                    <span class="txt">All Courses <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action Section Two --> {% endblock content %}